.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(247, 241, 241);
 
  
  }
  body{  background: url('/hinhnen2.jpg') no-repeat center center fixed;
    background-size: cover;}
  .error-block{
    border: 1px solid #f0f5f1; /* Adding a solid border with the color #45a049 */
    padding: 10px;
    border-radius: 10px;
    display: none;
    background-color: bisque;
    color: red;
  }
  .result-block{
    border: 1px solid #aeb1af; /* Adding a solid border with the color #45a049 */
    padding: 10px;
    border-radius: 10px;
    display: none;
    color: rgb(250, 245, 245);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-group {
    margin-bottom: 20px;
    margin-top: 50px;
    border: 1px solid #c9cec9; /* Adding a solid border with the color #45a049 */
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Create a flexbox layout for the name and date of birth groups */
  .name-group, .dob-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Set width for inputs inside the name group */
  .name-group div {
    width: calc(50% - 5px); 
  }
  
  /* Set width for inputs inside the dob group */
  .dob-group div {
    width: calc(33.33% - 5px); 
  } 
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-text.text-muted {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    display: block;
  }
  .button {display: flex;

justify-content: center;}
  button {
    background-color: #67b169;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    /* align-items: center; */
    justify-items: center;


  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Optional: Adjust the layout for small screens */
  @media (max-width: 500px) {
    .name-group input, .dob-group input {
      width: 100%;
    }
  
    button {
      width: 100%;
    }
  
    button:nth-child(2) {
      margin-top: 10px;
      margin-left: 0;
    }
  }
  